.Login {
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 20px;
  height:80vh;  
  
}

.message{
  /* margin-bottom: 1em; */
  margin-top: 3em;
}

.form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;  
  /* height:20vh;   */
  width: 100%
}
