.Register {
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 80px;
  height:80vh;  
  
}

.message{
  margin-bottom: 5em;
}

.form {
  margin: 0 auto;
  /* max-width: 1000px;*/
  /* padding: 400px; */
  /* height: 30%; */
  display: flex;
  justify-content: middle;
  align-items: middle;  
  align-self: center;
  height:20vh;  
  width: 100%
}

/* @media(max-width: 500px){
  .form{
    height:200vh; 
  }
} */

/* .FormControl{
  size: 5000px;
  height:40vh;  
  width: 100%
} */